* {
    color: black;
    box-sizing: border-box;
}

form {
    width: 32%;
    aspect-ratio: 13 / 10;
    background-color: #ECECEC;
    margin-left: 15%;
    padding: 5px;
}

.form-row {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    padding: 5px;
}

.form-row label {
    width: 110px;
    white-space: nowrap;
}

.form-row input {
    flex: 1;       
    min-width: 0;  
}

input[type="submit"] {
    display: flex;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}

span {
    display: block;
    text-align: center;
}

strong:hover {
    cursor: pointer;
}