* {
    color: black;
}

form {
    width: 32%;
    aspect-ratio: 13 / 10;
    background-color: #ECECEC;
    margin-left: 15%;
}

label {
    display: flex;
    margin-bottom: 20px;
}

input {
    margin-left: auto;
}

input[type="submit"] {
    display: flex;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}

span {
    display: block;
    text-align: center;
}

strong:hover {
    cursor: pointer;
}